$headerColor: #eEF2B1;
$menuColor: #dae1be;
$backColor: #e6d9d1;
$nameColor: #5e565a;
$menu1Color: #b9e5b6;
$h1Color: #0d1b2a;
$h2Color: #0d1b2a;
$decoColor: #dda485;

$defaultFont: 'Orbitron', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter:16px;